<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Service.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>http://localhost:55083/</value>
            </setting>
            <setting name="GetAllWithIngredients" serializeAs="String">
                <value>api/OfferedPizza/GetAllWithIngredients</value>
            </setting>
            <setting name="GetAll" serializeAs="String">
                <value>api/Ingredient/GetAll</value>
            </setting>
        </Service.Properties.Settings>
    </applicationSettings>
</configuration>