WebService/.vs/*

WebService/WebService/obj/*
WebService/WebService/bin/*

App/.vs/*

App/Client/obj/*
App/Client/bin/*

App/Model/obj/*
App/Model/bin/*

App/Restaurateur/obj/*
App/Restaurateur/bin/*

App/Service/obj/*
App/Service/bin/*